# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=
SESSION_ID=Prince~Y4RjkYLZ#cxB_7hUEo_ArgIXUTjvgadJfPPd15eIfZhAWonc4gOc
REMOVEBG_KEY=
PREFIX=.
MODE=public
AutoReaction=true
STATUSVIEW=true
OWNERS=919728714060;SANJU
antidelete=true
BOT_NAME=SANJU
DL_MSG=Here is your video
ANTI_LINK=true
ANTI_CALL=true
VIEWONCE=true
REPLY_STATUS=true
STATUS_MESSAGE=🩵ʏᴏᴜʀ sᴛᴀᴛᴜs sᴇᴇɴ sᴜᴄᴄᴇssғᴜʟʟʏ😍 😎ʙʏ *sanju ᴍᴅ* ᴡʜᴀᴛsᴀᴘᴘ ʙᴏᴛ🩵
AUTOREAD=false
